/* avatar.component.css */
.avatar-container {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Center items vertically */
}

.avatar {
    flex: 0 0 auto; /* Allow avatar to have a fixed width */
}

.name-username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px; /* Add some space between avatar and text */
}

.name-username p {
    padding-left: 1em;
}
