.hoverablecard {
    position: relative;
  }
  
  .hoveringcard {
    position: absolute;
    left: 0%;
    top: 100%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: max-content;
    max-width: 100%;
    height: max-content;
    background: white;
    text-align: center;
    z-index: 15;  
  }
  
  .hide {
    display: none;
  }
